{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('home') }}">&larr; Zurück zur Benutzerübersicht</a>
<h1>Filme für {{ user_name.name }}</h1>

<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-card">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">

        <form action="{{ url_for('update_movie_title', user_id=user_id, movie_id=movie.id) }}" method="POST" class="update-form">
            <input type="text" name="title" placeholder="{{ movie.title }}" required>
            <button type="submit">Update ✏️</button>
        </form>

        <p><strong>Jahr:</strong> {{ movie.publication_year }}</p>
        <p><strong>Regie:</strong> {{ movie.director }}</p>

        <form action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.id) }}" method="POST">
            <button type="submit" class="delete-btn">Löschen 🗑️</button>
        </form>
    </div>
    {% endfor %}
</div>

<form action="{{ url_for('add_movie', user_id=user_id) }}" method="post">
    <h3>Add New Movie</h3>
    <input type="text" name="title" placeholder="Movie title" required>
    <input type="text" name="publication_year" placeholder="Year" required>
    <input type="submit" value="Add Movie">
{% if message %}
<p>{{ message }}</p>
{% endif %}

</form>
{% endblock %}